<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-ios-face-id-fix" version="1.0.0">
    <name>iOS Face ID</name>
    <description>This plugin sets NSFaceIDUsageDescription in *-Info.plist file</description>
    <license>ISC</license>
    <engine name="ios" spec="^4.0.0" />

    <platform name="ios">
      <preference name="FACEID_USAGE_DESCRIPTION" default=" " />
      <config-file target="*-Info.plist" parent="NSFaceIDUsageDescription">
        <string>$FACEID_USAGE_DESCRIPTION</string>
      </config-file>
    </platform>
</plugin>